html{
  scroll-behavior: smooth;
}

body{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 5%;
  grid-template-areas:
  "header header"
  ". ."
  "description picture"
  "slideshow slideshow"
  "demo demo"
  "notes notes"
  "footer footer";
}

h1{
  position: sticky;
  top: 10px;
  z-index: 2;
  font-size: 3vw;
  font-family: Oswald;
  color: red;
}

p{
  font-size: 1.5vw;
  font-family: Roboto;
}

#header{
  position: fixed;
  grid-area: header;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  font-family: Oswald;
  color: red;
  font-weight: bold;
  z-index: 1;
}

#headerbar{
  position: fixed;
  grid-area: header;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 7.5vw;
  background-color: white;
  border-bottom-style: solid;
  border-color: red;
  z-index: 1;
}

#description{
  grid-area: description;
}

#picture{
  grid-area: picture;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow: hidden;
}

.img{
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-style: double;
  border-width: thick;
  border-color: red;
  max-width: 800px;
  max-height: 800px;
}

.imgh{
  width: 40vw;
  height: 20vw;
}

.mapimgh{
  width: 34vw;
  height: 24vw;
}

.imgv{
  width: 30vw;
  height: 40vw;
}

.starimg{
  width: 30%;
}

.vibezimg{
  width: 100%;
}

.vibezimgmain{
  width: 80%;
}

#slideshow{
  grid-area: slideshow;
}

.mySlides {
  display: none;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.caption-container {
  text-align: center;
  background-color: red;
  border-style: double;
  border-width: 10px;
  border-color: white;
  padding: 10px 5px;
  color: white;
  font-size: 1.5vw;
  font-family: Roboto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  text-align: center;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#demo{
  grid-area: demo;
  text-align: center;
  padding-bottom: 25vw;
}

.video{
  width: 50%;
  height: 200%;
}

#notes{
  grid-area: notes;
  flex-shrink: 2%;
}

footer{
  grid-area: footer;
  width: 100%;
  background-color: white;
  border-top-style: solid;
  border-color: red;
  text-align: center;
}

.footer-text{
  font-size: 1vw;
  font-family: Roboto;
  color: red;
}

.arrow{
  width: 3vw;
  max-width: 128px;
  height: auto;
  padding-top: 1vw;
}

.home{
  width: 5%; 
  padding-top: 1.5vw;
  
}

@media (max-width: 800px) {

  body{
    grid-row-gap: 4%;
    grid-template-areas:
    "header header"
    "description description"
    ". ."
    "picture picture"
    ". ."
    "slideshow slideshow"
    "demo demo"
    "notes notes"
    "footer footer";
  }

  h1{
    top: 5px;
    font-size: 5.5vw;
  }

  .smallh1{
    font-size: 4.5vw;
  }

  p{
    font-size: 3vw;
  }

  #header{
    font-size: 6vw;
  }

  #headerbar{
    padding-bottom: 10vw;
  }

  .img{
    max-width: 500px;
    max-height: 500px;
  }

  .imgh{
    width: 88vw;
    height: 40vw;
  }

  .mapimg{
    width: 74vw;
    height: 48vw;
  }

  .imgv{
    width: 60vw;
    height: 80vw;
  }

  .starimg{
    width: 80%;
  }

  .vibezimg{
    width: 80%;
  }

  .vibezimgmain{
    width: 50%;
  }

  .caption-container {
    font-size: 1vw;
  }

  #demo{
    padding-bottom: 30vw;
  }

  .video{
    width: 100%;
    height: 150%;
  }

  .footer-text{
    font-size: 2vw;
  }

  .arrow{
    width: 5vw;
  }
  
  .home{
	padding-top: 2.2vw;
  }
}
